body {
  font-family: Arial;
}

.container {
  display: grid;
  width: 15rem;
}

.form-items {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

label {
  font-weight: bold;
}

input,
textarea,
select {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#preview {
  display: block;
  width: 100%;
}

.submit-btn {
  border: none;
  background: black;
  color: white;
  padding: 1rem 0;
  cursor: pointer;
}

.link-btn {
  border-radius: 0.5rem;
  color: black;
  text-decoration: none;
  background: #009eff;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

input[type="file"] {
  background: #12579f;
  color: transparent;
  padding: 1rem 0;
}

input[type="file"]::before {
  content: "Pick an image file";
  color: white;
  margin: 0 0.7rem;
}

thead {
  font-weight: bold;
}

td {
  padding: 0.7rem;
}
