.main-dish {
  align-content: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 45vw));
  text-align: center;
  margin: 0.5rem 1rem;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.menu-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 2rem auto;
  width: 80vw;
}

.menu {
  display: grid;
  background: var(--clr-white);
  border-radius: 2rem;
  padding: 2rem 1rem;
  text-align: center;
}

.dish-description {
  display: grid;
  background: none;
  text-align: left;
}

.dish-image {
  display: grid;
  padding: 1rem 1rem;
}

.featured {
  display: grid;
  justify-content: center;
  margin: 0.5rem;
}

.dish-container {
  text-align: center;
}
