.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.menu-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 2rem auto;
  width: 80vw;
}

.menu {
  display: grid;
  background: var(--clr-white);
  border-radius: 2rem;
  padding: 2rem 1rem;
  text-align: center;
}

.dish-description {
  display: grid;
  background: none;
  text-align: left;
}

.dish-image{
  display: block;
  width: 100%;
  border-radius: 1rem;
}

.featured {
  display: grid;
  justify-content: center;
  padding: auto;
}

.dish-container {
  text-align: center;
}

.order-container {
  margin-top: 2rem;
}

.form-items {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 0.5rem 0;
  align-items: center;
  height: 2rem;
}

.form-container {
  text-align: left;
}

.form-input {
  width: 70%;
}

/* ***** REVISAR UTILIZACIÓN ***** */
.in-touch{
  display: grid;
  align-items: center;
  align-content: center;
  margin-left: 3rem;
}

.subscribe{
  border-radius: 2rem;
  background: var(--clr-inner-bg);
}
/* ***** REVISAR UTILIZACIÓN ***** */