.main-dish {
  align-content: center;
  text-align: center;
  margin: 0.1rem auto;
  width: 80vw;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.activities-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 2rem auto;
  width: 80vw;
}

.activity {
  display: grid;
  background: var(--clr-white);
  border-radius: 2rem;
  padding: 2rem 1rem;
  text-align: center;
}