.hero-container {
  background: var(--clr-red);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: var(--clr-white);
  height: min(7rem, 15rem, 20rem);
  text-align: center;
  width: 100%;
}
