.top-nav {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 17rem;
  margin-bottom: 8rem;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 2rem;
  list-style-type: none;
  margin-left: 3rem;
}

.nav-list-link {
  color: var(--clr-white);
  text-decoration: none;
  font-size: var(--fs-md);
}

.mobile-cb {
  display: none;
}
