.logo {
  width: 5vw;
  height: 5vw;
  padding: 0.5rem;
}

.featured-dish {
  border-radius: 2rem;
  display: left;
  width: 100%;
}

.btn {
  align-items: center;
  background: var(--clr-red);
  border-radius: 1.5rem;
  display: flex;
  padding: 0.5rem 2rem;
}

.activity-icon {
  margin: auto;
}
