:root {
  /* Fonts english*/
  --ff-main: "Taviraj", serif;
  --ff-secondary: "Nunito", sans-serif;

  /* Fonts arabic*/
  --ff-main-arabic: "Amiri Quran", serif;
  --ff-secondary-arabic: "El Messiri", sans-serif;

  /* Font size */
  --fs-xl: 4rem;
  --fs-lg: 2rem;
  --fs-md: 1.125rem;
  --fs-nm: 1rem;
  --fs-sm: 0.875rem;

  /* Font Weight */
  --fw-bk: 900;
  --fw-md: 500;
  --fw-rg: 400;

  /* Colors HSLA */
  --clr-main-bg: hsla(0, 0%, 92%, 1);
  --clr-gray-bg: hsla(0, 0%, 55%, 0.1);
  --clr-gray-txt: hsla(0, 0%, 55%, 1);
  --clr-red: hsla(0, 100%, 50%, 0.6);
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-green: hsla(120, 100%, 25%, 1);
  --clr-black: hsla(0, 0%, 0%, 1);

  /* Icons */
  --icon-rarrow: url("../../imgs/icons/right-arrow.png");
  --icon-larrow: url("../../imgs/icons/left-arrow.png");
}
